services:
  api:
    build: ./backend
    restart: always
    ports:
      - '8000:8080'
    environment:
      DATABASE_URL: postgres://postgres:password@postgres:5432/nullslot
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OIDC_ISSUER_URL: ${OIDC_ISSUER_URL}
      OIDC_REDIRECT_URI: ${OIDC_REDIRECT_URI}
      OIDC_FRONTEND_REDIRECT_URL: ${OIDC_FRONTEND_REDIRECT_URL}
      JWT_SECRET: ${JWT_SECRET}
      RUST_LOG: backend=debug,tower_http=debug,axum::rejection=trace
    depends_on:
      - postgres

  postgres:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_DB: nullslot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
